# Git
.git
.github

# Python
.venv
__pycache__
*.pyc
.pytest_cache

# Tests
tests

# Project files not required in container
reference
README.md
ecs-assignment-v1-notes.md

# Terraform infrastructure
infra