# Git
.git
.github

# Python
.venv
__pycache__
*.py[cod]

# Tests
tests

# Terraform infrastructure
infra

# Documentation and project files
docs
README.md

# Local environment files
.env
.env.*

# OS / Windows metadata
*:Zone.Identifier
